<div class="<%= col_size %>">
  <div class="productBox">
    <%= link_to potepan_product_path(product.id) do %>
      <div class="productImage clearfix">
        <% if product.images.first %>
          <%= image_tag product.images.first.attachment(:small), alt: "products-img" %>
        <% end %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>
